/node_modules
/public/hot
/public/storage/admin
/public/storage
/public/storage/*
/storage/*
/storage/app/public/export-excel-files
/storage/logs/*
/storage/app/public/users
/storage/app/public/*
/storage/app/public/companies
/storage/app/public/file-management
/storage/app/public/usermanagement
/storage/app/public/product-management
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.rnd
/storage/logs/*.log
storage/oauth-private.key
