@import 'partials/variable';
/* 05 responsive styles */

//large display
@media screen and (min-width: 767px) {}

//small display
@media screen and (max-width: 991px) and (min-width: 768px) {

    /*02 Navbar Styles*/
    .navbar-toggler {
        background: #444;
        margin: 12px 0;
        padding: 10px 16px;
        span {
            background: $brand-primary;
        }
    }

    .nav-menu {
        position: relative;
        background: #000;
        .navbar-header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-content: center;
            .navbar-brand {
                display: flex;
                align-items: center;
            }
        }
        .navbar {
            background: #444;
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        line-height: 40px;
                        &:before {
                            position: inherit;
                        }
                    }
                }
            }
        }
    }

    /*header-match-area*/
    .header-match-area {
        .social-icon {
            justify-content: center;
        }
    }
    /*header-middle-aera*/
    .header-middle-area {
        .logo {
            line-height: 7;
            text-align: center;
        }
    }

    /*slider-area*/
    .slider-area {
        .sliding-item {
            .sliding-content {
                position: absolute;
                display: inline-block;
                top: 22%;
                right: 9%;
                h2 {
                    font-size: 40px;
                    color: rgba(255, 255, 255, 0.8);
                }
                .upcoming {
                    div {
                        width: 300px;
                        max-height: 100px;
                        .cdown {
                            font-size: 18px;
                            p {
                                font-size: 18px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .league-content {
                top: 28%;
                left: 9%;
                h2 {
                    font-size: 40px;
                }
                .club-link {
                    margin-top: 12px;
                    ;
                    a {
                        font-size: 18px;
                        padding: 14px 43px;
                        color: #fff;
                        margin-right: 20px;
                    }
                }
                .upcomming-match {
                    padding: 5px 10px;
                    width: 300px;
                    margin-top: 15px;
                    .first-match {
                        h4 {
                            font-size: 14px;
                            color: #fff;
                            margin-bottom: 5px;
                        }
                        p {
                            font-size: 14px;
                            margin: 0;
                            line-height: 17px;
                        }
                    }
                    .upcoming {
                        margin-left: 10px;
                        div {
                            .cdown {
                                span {
                                    font-size: 14px;
                                }
                                p {
                                    font-size: 16px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            .sliding-match {
                width: 450px;
                h4 {
                    margin: 0 0;
                    a {
                        font-size: 14px;
                        padding: 5px 10px;
                        display: inline-block;
                    }
                }
                .match-vs {
                    justify-content: space-around;
                    li {
                        img {
                            width: 80px;
                            height: 80px;
                        }
                        span {
                            font-size: 22px;
                            margin-top: 8px;
                        }
                        &.vs {
                            flex-basis: 35px;
                            h4 {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
        .owl-nav {
            display: none;
        }
    }

    /*home2-slider*/
    .home2-slider {
        &:before {
            content: "";
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            z-index: 9;
        }
        .score-content {
            top: 28%;
            right: 12%;
            h2 {
                font-size: 22px;
            }
            .upcoming {
                div {
                    width: 250px;
                    max-height: 80px;
                    .cdown {
                        line-height: 18px;
                        p {
                            margin: 0;
                            font-size: 16px;
                        }
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .live-scores {
            display: flex;
            flex-direction: column;
            position: inherit;
            .score-head {
                max-height: 33px;
                width: 100%;
                justify-content: center;
                h4 {
                    margin: 0;
                    a {
                        font-size: 18px;
                    }
                }
            }
            .scores-area {
                max-height: 33px;
                width: 100%;
                justify-content: center;
                p {
                    font-size: 18px;
                    margin: 0;
                    margin-right: 10px;
                }
            }
        }
    }

    /*match-schedule-area */
    .match-schedule-area {
        .slider-schedule {
            .player-img {
                img {
                    max-width: 150px;
                    max-height: 150px;
                }
            }
            .club-name {
                h4 {
                    font-size: 22px;
                }
                p {
                    font-size: 18px;
                    margin: 0;
                    ;
                }
            }
            .playing-schedule {
                .club-img {
                    img {
                        max-width: 60px;
                        max-height: 60px;
                    }
                }
                span {
                    font-size: 35px;
                }
            }
        }
    }

    /* schedule-area2*/
    .schedule-area2 {
        .schedule-slider {
            padding: 100px;
            .slider-schedule {
                .club-box {
                    h4 {
                        font-size: 22px;
                    }
                    img {
                        width: 60px;
                    }
                }
                .goal {
                    font-size: 30px;
                }
            }
        }
    }

    /*match-box*/
    .banner-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        .banner-img {
            h4 {
                font-size: 34px;
            }
            p {
                display: none;
            }
        }
    }

    /*comment-aera*/
    .comment-area {
        .comment-box {
            .user-cmnt {
                justify-content: space-evenly;
            }
        }
    }

    /*sports section*/
    .sport-section {
        .recent-video {
            display: grid;
            grid-template-columns: repeat(1, 1fr 1fr);
            grid-gap: 30px;
            .highlights-bg {
                p {
                    font-size: 22px;
                }
                .video-play-btn {
                    transform: translateX(-110px);
                }
            }
        }
    }

    /*sports area*/
    .news-area {
        .news-box {
            .news-search {
                a {
                    width: 7%;
                }
            }
        }
        .twit-post {
            .twit-box {
                grid-template-columns: repeat(1, 1fr 8fr);
            }
        }
    }

    .banner-img {
        h4 {
            font-size: 30px;
        }
    }
    /*recent-video*/
    /*fixtures-area*/
    .laliga-box {
        .fixture-box {
            .club-fixture {
                grid-template-columns: repeat(1, 2fr 1fr 2fr);
                grid-column-gap: 0px;
                .club-img {
                    margin: 0;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    span {
                        margin: 0 10px;
                        font-size: 16px;
                    }
                }
                .club-schedule {
                    h5 {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    /*footer-area*/
    .footer-area {
        .footer-box {
            grid-template-columns: repeat(1, 1fr);
            .footer-content {
                p {
                    margin: 0;
                    display: flex;
                    align-items: center;
                }
                .news-info {
                    .news-detail {
                        grid-template-columns: repeat(1, 1fr 7fr);
                    }
                }
            }
        }
    }

    /* global-styles*/
    .pad90 {
        padding: 50px 0;
    }
    .xs-mt-90 {
        margin-top: 90px;
    }
    .xs-mt-50 {
        margin-top: 50px;
    }
    .xs-mt-40 {
        margin-top: 40px;
    }
    .xs-mt-30 {
        margin-top: 30px;
    }
    .xs-mt-20 {
        margin-top: 20px;
    }
    .mt60 {
        margin-top: 50px;
    }
}


//extra small display
@media screen and (max-width: 767px) {

    /*02 Navbar Styles*/
    .navbar-toggler {
        background: #444;
        margin: 12px 0;
        padding: 10px 16px;
        span {
            background: $brand-primary;
        }
    }
    .nav-menu {
        position: relative;
        background: #000;
        .navbar-header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-content: center;
            .navbar-brand {
                display: flex;
                align-items: center;
            }

        }
        .navbar {
            background: #444;
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        line-height: 40px;
                        &:before {
                            position: inherit;
                        }
                    }
                }
            }
        }
    }

    /*header-match-area*/
    .header-match-area {
        .social-icon {
            justify-content: center;
        }
    }
    /*header-middle-aera*/
    .header-middle-area {
        .logo {
            line-height: 7;
            text-align: center;
        }
    }

    /*slider-area*/
    .slider-area {
        .sliding-item {
            .sliding-content {
                position: absolute;
                display: inline-block;
                top: 19%;
                right: 9%;
                h2 {
                    font-size: 18px;
                    color: rgba(255, 255, 255, 0.8);
                }
                .upcoming {
                    div {
                        width: 200px;
                        max-height: 65px;
                        .cdown {
                            font-size: 14px;
                            p {
                                font-size: 16px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .league-content {
                top: 28%;
                left: 9%;
                h2 {
                    font-size: 18px;
                }
                .club-link {
                    margin-top: 12px;
                    ;
                    a {
                        font-size: 10px;
                        padding: 2px 9px;
                        color: #fff;
                        margin-right: 6px;
                    }
                }
                .upcomming-match {
                    padding: 5px 10px;
                    width: 300px;
                    margin-top: 15px;
                    .first-match {
                        h4 {
                            font-size: 14px;
                            color: #fff;
                            margin-bottom: 5px;
                        }
                        p {
                            font-size: 14px;
                            margin: 0;
                            line-height: 17px;
                        }
                    }
                    .upcoming {
                        margin-left: 10px;
                        div {
                            .cdown {
                                span {
                                    font-size: 14px;
                                }
                                p {
                                    font-size: 16px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            .sliding-match {
                width: 350px;
                h4 {
                    margin: 0 0;
                    a {
                        font-size: 14px;
                        padding: 5px 10px;
                        display: inline-block;
                    }
                }
                .match-vs {
                    justify-content: space-evenly;
                    li {
                        img {
                            width: 50px;
                            height: 50px;
                        }
                        span {
                            font-size: 16px;
                            margin-top: 8px;
                        }
                        &.vs {
                            flex-basis: 35px;
                            h4 {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
        .owl-nav {
            display: none;
        }
    }

    /*home2-slider*/
    .home2-slider {
        &:before {
            content: "";
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            z-index: 9;
        }
        .score-content {
            top: 17%;
            right: 7%;
            h2 {
                font-size: 18px;
            }
            .upcoming {
                div {
                    width: 150px;
                    max-height: 60px;
                    .cdown {
                        line-height: 18px;
                        p {
                            margin: 0;
                            font-size: 14px;
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .live-scores {
            display: flex;
            flex-direction: column;
            position: inherit;
            .score-head {
                max-height: 33px;
                width: 100%;
                justify-content: center;
                h4 {
                    font-size: 16px;
                    margin: 0;
                }
            }
            .scores-area {
                max-height: 33px;
                width: 100%;
                justify-content: center;
                p {
                    font-size: 16px;
                    margin: 0;
                    margin-right: 10px;
                }
            }
        }
    }

    /*match-schedule-area */
    .match-schedule-area {
        .slider-schedule {
            .player-img {
                img {
                    max-width: 90px;
                    max-height: 90px;
                }
            }
            .club-name {
                h4 {
                    font-size: 17px;
                }
                p {
                    font-size: 15px;
                    margin: 0;
                    ;
                }
            }
            .playing-schedule {
                .club-img {
                    img {
                        max-width: 40px;
                        max-height: 40px;
                    }
                }
                span {
                    font-size: 25px;
                }
            }
        }
    }

    /* schedule-area2*/
    .schedule-area2 {
        .schedule-slider {
            padding: 0;
            .slider-schedule {
                .club-box {
                    h4 {
                        font-size: 18px;
                    }
                    img {
                        width: 40px;
                    }
                }
                .goal {
                    font-size: 25px;
                }
            }
        }
    }

    /*match-box*/
    .banner-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        .banner-img {
            p {
                &:before {
                    left: -93%;
                    width: 110px;
                }
            }
        }
    }

    /*match news*/
    .match-news {
        .news {
            padding-left: 16px;
            justify-content: space-around;
            p {
                margin: 0;
                font-size: 12px;
            }
            h4 {
                font-size: 15px;
            }
        }
    }

    /*comment-aera*/
    .comment-area {
        .comment-box {
            grid-column-gap: 20px;
            .user-cmnt {
                h4 {
                    font-size: 14px;
                }
                .coments {
                    margin-top: 5px;
                    a {
                        margin-right: 6px;
                        i {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }

    /*club-list-area*/
    .club-list-area {
        .club-history {
            .history-img {
                h3 {
                    font-size: 18px;
                }
            }
        }
        .team-box {
            .nav-tabs {
                .nav-item {
                    font-size: 16px;
                    padding: 10px 23px;
                }
            }
        }
    }

    /*fixtures-area*/
    .laliga-box {
        .fixture-box {
            .club-fixture {
                grid-template-columns: repeat(1, 1fr 1fr 1fr);
                grid-column-gap: 0px;
                .club-img {
                    margin: 0;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                    span {
                        margin: 0 8px;
                        font-size: 14px;
                    }
                }
                .club-schedule {
                    h5 {
                        font-size: 14px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    /*sports area*/
    .news-area {
        .news-box {
            .news-search {
                a {
                    width: 12%;
                }
            }
        }
        .sports-news {
            .sports-title h3 {
                font-size: 20px;
            }
        }
    }

    /*post-area*/
    .post-area {
        .banner-img {
            h4 {
                font-size: 18px;
            }
        }
    }
    .recent-video {
        .highlights-bg {
            .video-play-btn {
                transform: translateX(-134px);
            }
        }
    }

    /*footer-area*/
    .footer-area {
        .footer-box {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    /* global-styles*/
    .page-head {
        padding: 200px 15px 150px;
        .section-title {
            h3 {
                font-size: 33px;
            }
        }
    }

    .pad90 {
        padding: 50px 0;
    }
    .xs-mt-90 {
        margin-top: 90px;
    }
    .xs-mt-50 {
        margin-top: 50px;
    }
    .xs-mt-40 {
        margin-top: 40px;
    }
    .xs-mt-30 {
        margin-top: 30px;
    }
    .xs-mt-20 {
        margin-top: 20px;
    }
    .mt60 {
        margin-top: 50px;
    }
}

/* 05 responsive styles */
