/*3.1 slider area start*/

.slider-area {
    width: 100%;
    position: relative;
    .owl-nav {
        button {
            position: absolute;
            top: 45%;
            left: 1%;
            font-size: 60px !important;
            transition: $trans;
            &:focus {
                outline: inherit;
            }
            &:hover {
                transform: scale(1.5);
            }
        }
        .owl-next {
            position: absolute;
            left: inherit;
            right: 1%;
        }
    }
    .sliding-item {
        position: relative;
        .sliding-content {
            position: absolute;
            display: inline-block;
            top: 30%;
            right: 20%;
            h2 {
                font-size: 65px;
                color: $white;
                @extend .ttu;
            }
            .upcoming {
                margin: 0;
                div {
                    background: rgba(0, 0, 0, 0.5);
                    width: 400px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 100px;
                    margin-top: 20px;
                    .cdown {
                        line-height: 30px;
                        width: 25%;
                        font-size: 18px;
                        color: $white;
                        text-align: center;
                        background: transparent;
                        p {
                            color: $white;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .tonight-match {
            display: flex;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            justify-content: center;
            align-items: center;
        }
        .sliding-match {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 600px;
            h4 {
                text-align: center;
                margin-bottom: 40px;
                a {
                    font-size: 16px;
                    color: $white;
                    padding: 8px 16px;
                    border-radius: 4px;
                    @extend .ttc;
                    background: $brand-primary;
                    transition: $trans;
                    &:hover {
                        background: $white;
                        color: $brand-primary;
                    }
                }
            }
            .match-vs {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-around;
                    img {
                        max-height: 202px;
                    }
                    span {
                        font-size: 30px;
                        @extend .ttu;
                        @extend .bold;
                        margin-top: 30px;
                    }
                    &.vs {
                        justify-content: center;
                        h4 {
                            font-size: 100px;
                        }
                    }
                }
            }
        }
        .league-content {
            position: absolute;
            width: 600px;
            top: 35%;
            left: 15%;
            direction: flex;
            flex-direction: column;
            h2 {
                font-size: 65px;
                @extend .ttu;
            }
            .club-link {
                display: flex;
                width: 80%;
                margin-top: 20px;
                a {
                    font-size: 18px;
                    padding: 14px 70px;
                    @extend .ttu;
                    color: $white;
                    margin-right: 20px;
                    &.liverpool {
                        background: $brand-primary;
                    }
                    &.barcelona {
                        background: #F1D010;
                    }
                }
            }
            .upcomming-match {
                display: flex;
                flex-direction: row;
                padding: 22px 30px;
                background: rgba(0, 0, 0, 0.5);
                align-items: center;
                width: 471px;
                margin-top: 20px;
                .first-match {
                    h4 {
                        font-size: 20px;
                        @extend .ttu;
                        color: $white;
                    }
                    p {
                        @extend h4;
                        font-weight: normal;
                    }
                }
                .upcoming {
                    margin-left: 58px;
                    display: flex;
                    align-items: center;
                    div {
                        display: flex;
                        flex-direction: row;
                        span {
                            width: 60px;
                            text-align: center;
                            font-size: 20px;
                            line-height: 1.5;
                            p {
                                color: #fff;
                                font-size: 18px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*home2 slider start*/

.home2-slider {
    position: relative;
    .slider-area {
        .owl-nav {
            display: none;
        }
    }
    .live-scores {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        display: flex;
        align-items: flex-end;
        z-index: 9;
        &:before {
            position: absolute;
            content: "";
            width: 50%;
            height: 100%;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
            z-index: -1;
        }
        .score-head {
            width: 50%;
            background: #76c100;
            display: flex;
            justify-content: flex-end;
            height: 60px;
            align-items: center;
            h4 {
                margin-right: 20px;
                @extend .ttc;
                a {
                    color: #fff;
                }
            }
        }
        .scores-area {
            @extend .score-head;
            background: $alter-bg-color;
            justify-content: flex-start;
            p {
                margin: 0;
                margin-left: 20px;
                @extend .ttc;
                color: #fff;
                font-size: 18px;
            }
        }
    }
    .score-content {
        position: absolute;
        display: inline-block;
        top: 30%;
        right: 15%;
        z-index: 9;
        h2 {
            font-size: 65px;
            color: $white;
            @extend .ttu;
        }
        .upcoming {
            margin: 0;
            div {
                background: rgba(0, 0, 0, 0.5);
                width: 400px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100px;
                margin-top: 20px;
                .cdown {
                    line-height: 40px;
                    width: 25%;
                    font-size: 18px;
                    color: $white;
                    text-align: center;
                    background: transparent;
                    p {
                        color: $white;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

/*home3 slider start*/

.home3-slider {
    margin: 10px 0;
    .owl-item {
        .img-content {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: -30%;
            padding: 20px 30px;
            transition: $trans;
            width: 100%;
            opacity: 0;
        }
        &.active {
            &.center {
                .overlay {
                    transition: $trans;
                    &:before {
                        opacity: 0;
                    }
                }
                .img-content {
                    bottom: 0;
                    opacity: 1;
                    p {
                        color: #fff;
                        @extend .ttc;
                        span {
                            color: $brand-primary;
                        }
                    }
                    h4 {
                        font-size: 18px;
                    }
                }
            }
            .sliding-content {}
        }
    }
    .sliding-content {}
}

/*home3 slider end*/

/*3.1 slider area end*/

/*3.2 match-schedule-area start*/

.match-schedule-area {
    .slider-schedule {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .player-img {}
        .club-box {
            display: flex;
            justify-content: space-between;
            flex-grow: .4;
            align-items: center;
            flex-direction: column;
        }
        .playing-schedule {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            .club-img {
                img {
                    width: 80px;
                }
            }
            span {
                display: flex;
                justify-content: center;
                font-size: 50px;
                color: #000;
                @extend .bold;
            }
        }
        .club-name {
            margin-top: 15px;
            h4 {
                font-size: 25px;
                color: $black;
                @extend .ttc;
                @extend .bold;
                span {
                    @extend .ttu;
                }
            }
            p {
                font-size: 16px;
                @extend .ttu;
                @extend .bold;
            }
        }
    }
}

.schedule-area2 {
    .schedule-slider {
        padding: 0 100px;
        .slider-schedule {
            .club-box {
                justify-content: space-evenly;
                flex-direction: row;
                flex-basis: 150px;
                h4 {
                    color: #000;
                    font-size: 30px;
                    font-family: $head-font-family;
                    @extend .ttc;
                }
                img {
                    width: 80px;
                }
            }
            .goal {
                font-size: 60px;
                color: #000;
                font-family: $head-font-family;
            }
        }
        p {
            font-size: 14px;
            color: #000;
            @extend .ttc;
        }
        .bttn {
            display: inline-block;
            a {
                background: #fff;
                padding: 12px 20px;
                border-radius: 30px;
                @extend .ttu;
                color: #000;
                transition: $trans;
                display: inline-block;
                margin-bottom: 5px;
                ;
                &:hover {
                    color: #fff;
                    background: #76c100;
                    box-shadow: 0px 2px 1px 0px #000;
                }
            }
        }
    }
}

/*3.2 match-schedule-area end*/

/*============================
3.3 match-box start==========*/

/*3.3.1 video-highlight*/

.highlights-bg {
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .video-play-btn {
        position: absolute;
        border: 4px solid #fff;
        border-radius: 50%;
        padding: 10px 16px;
        transform: translateY(-21px);
    }
    p {
        position: absolute;
        color: #fff;
        font-size: 16px;
        transform: translateY(37px);
    }
}

.recent-video {
    .highlights-bg {
        min-height: 241px;
        .video-play-btn {
            transform: translateX(-170px);
        }
        p {
            font-size: 18px;
            font-weight: bold;
            bottom: 25%;
            left: 9%;
        }
    }
}

.upmatch-box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    img {
        min-height: 430px;
    }
    .team-date {
        position: absolute;
        left: 5%;
        bottom: 10%;
        h5 {
            color: #fff;
            font-size: 20px;
            @extend .ttc;
        }
        p {
            font-size: 15px;
            color: #fff;
        }
    }
}

.upmatches-slider {
    .owl-dots {
        position: absolute;
        bottom: 7%;
        left: 5%;
    }
}

/*result-box start*/

.score-slider {
    .owl-dots {
        bottom: 0%;
        padding: 4px 0;
        width: 100%;
        text-align: center;
    }
}

.result-box {
    .result-heading {
        text-align: center;
        color: $brand-primary;
        @extend .ttu;
        padding: 20px;
        font-size: 13px;
    }
    .club-result {
        display: grid;
        background: #35383f;
        padding: 8px 5px;
        grid-template-columns: repeat(1, 3fr 2fr 3fr);
        margin-bottom: 10px;
        transition: $trans;
        &.active,
        &:hover {
            background: $brand-primary;
        }
        .club-img {
            display: flex;
            justify-content: space-around;
            img {
                width: 20px;
                height: 20px;
            }
            span {
                @extend .ttc;
                margin: 0 4px;
            }
        }
        .score {
            text-align: center;
            display: flex;
            justify-content: space-around;
            span {
                padding: 0px 9px;
                background: #fff;
                color: #000;
                font-weight: bold;
            }
        }
    }
}

/*result-box end*/

/*banner-box start*/

.banner-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.banner-img {
    position: relative;
    display: block;
    overflow: hidden;
    img {
        transition: $trans;
    }
    &:hover {
        img {
            transform: scale(1.1) rotate(2deg);
        }
    }
    p {
        position: absolute;
        bottom: 30%;
        left: 10%;
        display: block;
        color: $brand-primary;
        font-size: 14px;
        @extend .ttc;
        z-index: 9;
        &:before {
            position: absolute;
            content: "";
            width: 100px;
            height: 27px;
            background: #fff;
            left: -66%;
            bottom: 0;
            transform: scaleX(0);
            z-index: -1;
            transform-origin: 0 0;
            transition: $trans;
        }
    }
    h4 {
        position: absolute;
        bottom: 8%;
        left: 10%;
        display: block;
        font-size: 18px;
        @extend .ttc;
        a {
            color: #fff;
            transition: $trans;
            &:hover {
                color: $brand-primary;
            }
        }
    }
    &:hover {
        p {
            &:before {
                transform: scaleX(1);
            }
        }
    }
}

/*banner-box end*/

/*football-table-area start*/

.foot-tbl {
    display: grid;
    grid-row-gap: 4px;
    h5 {
        font-size: 16px;
        padding: 20px;
        color: $brand-primary;
        @extend .ttu;
    }
    .point-table {
        background: #35383f;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        transition: $trans;
        .team-rank {
            span {
                @extend .ttc;
                margin-left: 5px;
            }
        }
        &.active,
        &:hover {
            background: $brand-primary;
        }
    }
}

/*football-table-area end*/

/*foolow us area start*/

.follow-us-area {
    .link-box {
        display: grid;
        grid-row-gap: 20px;
        a {
            background: #2e2e2e;
            padding: 10px 20px;
            font-size: 18px;
            @extend .ttu;
            display: flex;
            color: #fff;
            font-weight: normal;
            transition: $trans;
            i {
                font-size: 14px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: #fff;
                margin-right: 20px;
                color: #000;
                text-align: center;
                line-height: 18px;
                margin-top: 2px;
                transition: $trans;
            }
            &:hover {
                color: $brand-primary;
                i {
                    background: $brand-primary;
                }
            }
        }
    }
}

/*foolow us area end*/

/*post-area start*/

.post-area {
    .banner-img {
        p {
            font-size: 16px;
            bottom: 40%;
            &:before {
                width: 120px;
                left: -83%;
            }
        }
        h4 {
            font-size: 30px;
        }
    }
    .blog-post {
        h4 {
            color: #000;
            font-size: 20px;
            @extend .ttc;
            a {
                color: #444;
                &:hover {
                    color: $brand-primary;
                }
            }
        }
        p {}
        .coments {
            a {
                color: $alter-text-color;
                font-size: 15px;
                margin-right: 15px;
                @extend .ttc;
                i {
                    font-size: 15px;
                    color: $alter-text-color;
                    margin-right: 10px;
                }
                &:hover {
                    color: $brand-primary;
                }
            }
        }
    }
}

.comment-area {
    display: grid;
    grid-row-gap: 40px;
    .comment-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr 4fr);
        grid-column-gap: 30px;
        .user-cmnt {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4 {
                color: #000;
                font-size: 18px;
                a {
                    color: #444;
                    &:hover {
                        color: $brand-primary;
                    }
                }
            }
            .coments {
                a {
                    color: $alter-text-color;
                    font-size: 14px;
                    margin-right: 10px;
                    @extend .ttc;
                    i {
                        @extend a;
                    }
                    &:hover {
                        color: $brand-primary;
                    }
                }
            }
        }
    }
}


.match-news {
    display: grid;
    background: #F1F1F1;
    grid-template-columns: repeat(1, 2fr 4fr);
    .news {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 30px;
        p {
            color: $brand-primary;
            font-size: 15px;
            margin-bottom: 10px;
            &.nws {
                color: $alter-text-color;
                line-height: 1.5;
            }
        }
        h4 {
            font-size: 18px;
            color: #000;
            font-family: $text-font-family;
            margin-bottom: 10px;
            color: #Fff;
            a {
                color: #444;
            }
        }
        &:hover {
            h4 {
                a {
                    color: $brand-primary;
                }
            }
        }
    }
}

.post-slider {
    .owl-nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        button {
            font-size: 21px !important;
            position: absolute;
            top: -60px;
            right: 22px;
            background: #dddddd !important;
            width: 20px;
            height: 20px;
            line-height: 20px !important;
            text-align: center;
            transition: $trans;
            &:hover {
                background: $brand-primary !important;
            }
            &:focus {
                outline: inherit;
            }
        }
        .owl-next {
            right: 0px;
        }
    }
}

/*post-area end*/

/*scores-tab start*/

.scores-tab {
    .nav-pills {
        background: #35383F;
        display: grid;
        grid-template-columns: repeat(1, 2fr 1fr 2fr);
        .nav-item {
            .nav-link {
                text-align: center;
                color: #fff;
                @extend .ttu;
                font-size: 16px;
                padding: 16px 0;
                border-radius: inherit;
                @extend .bold;
                &.active,
                &:hover {
                    background: $brand-primary;
                }
            }
        }
    }
    .tab-content {
        padding: 0px 25px;
        .player-box {
            display: flex;
            padding: 15px 0;
            img {
                border-radius: 50%;
                width: 80px;
                height: 80px;
                transform: rotateY(0deg);
                transition: $trans;
            }
            &:hover {
                img {
                    transform: rotateY(180deg);
                }
            }
            .player-dtl {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-left: 20px;
                h4 {
                    font-size: 18px;
                    @extend .ttc;
                }
                p {
                    font-size: 14px;
                    color: $brand-primary;
                }
            }
        }
    }
}

/*scores-tab end*/

/*============================
3.3 match-box end==========*/

/*===========================
blog & news start
============================*/

.trans-news {
    display: inline-block;
    h5 {
        font-size: 18px;
        color: #000;
        @extend .ttc;
        font-family: $text-font-family;
        a {
            color: #444;
            &:hover {
                color: $brand-primary;
            }
        }
    }
    p {
        color: $alter-text-color;
        font-size: 14px;
        margin-bottom: 0;
    }
}

.trans-news {
    &.nws2 {
        h5 {
            font-size: 20px;
            a {
                color: #fff;
                &:hover {
                    color: $brand-primary;
                }
            }
        }
        p {
            color: #fff;
        }
    }
}

/*twit-area start*/

.twit-area {
    display: grid;
    grid-row-gap: 10px;
    .twit-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr 4fr);
        i {
            margin-top: 8px;
            font-size: 35px;
            color: aqua;
        }
        .twitted {
            p {
                font-size: 14px;
                margin: 0;
            }
        }
        &:hover {
            .twitted {
                a {
                    color: $brand-primary;
                }
            }
        }
    }
}

/*twit-area end*/

/*===========================
blog & news end
============================*/

/*===========================
features video start
============================*/

.features-vdo-area {
    .highlights-bg {
        .video-play-btn {
            position: absolute;
            border: 4px solid #fff;
            border-radius: 50%;
            padding: 10px 16px;
            transform: translateY(3px);
        }
    }

}

/*===========================
features video end
============================*/

/*features area2 start*/

.football-gallery {
    .gallery-slider {
        .owl-dots {
            text-align: center;
            position: absolute;
            bottom: -4%;
            left: 0;
            right: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            .owl-dot {
                width: 55px;
                height: 60px;
                border-radius: inherit;
                transform: scale(1.4);
                margin: 0 18px;
                background-size: cover !important;
                background-position: center;
                background-repeat: no-repeat;
                transition: $trans;
                &:before {
                    position: absolute;
                    content: "";
                    background: rgba(118, 193, 0, 0.4);
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                &.active,
                &:hover {
                    transform: scale(1.2);
                    &:before {
                        background: inherit;
                    }
                }
                &:nth-child(1) {
                    background-image: url('../images/gallery/1.jpg') !important;
                }
                &:nth-child(2) {
                    background-image: url('../images/gallery/2.jpg') !important;
                }
                &:nth-child(3) {
                    background-image: url('../images/gallery/3.jpg')!important;
                }
                &:nth-child(4) {
                    background-image: url('../images/gallery/4.jpg')!important;
                }
            }
        }
        .owl-nav {
            button {
                position: absolute;
                font-size: 50px !important;
                bottom: 2%;
                left: 4%;
                z-index: 1;
            }
            .owl-next {
                @extend button;
                left: inherit;
                right: 4%;
            }
        }
    }
}

/*=================
features area2 end
=================*/

/*===========================
04 footer start 
============================*/

.footer-area {
    .subscribe {
        position: relative;
        display: block;
        input {
            width: 100%;
            height: 60px;
            outline: inherit;
            border: 1px solid #fff;
            padding: 5px 25px;
            color: #fff;
            background: transparent;
        }
        a {
            position: absolute;
            right: 0%;
            padding: 18px 27px;
            top: 0;
            background: #fff;
            i {
                color: #000;
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
    .footer-box {
        display: grid;
        grid-template-columns: repeat(1, 3fr 2fr 3fr 2fr 2fr);
        grid-column-gap: 30px;
        .footer-content {
            .ftr-title {
                h4 {
                    @extend .ttc;
                    font-size: 22px;
                }
            }
            p {
                color: #fff;
                font-size: 14px;
            }
            &.add {
                p {
                    border-bottom: 1px solid $alter-text-color;
                    padding-bottom: 20px;
                    margin: 0;
                }
            }
            .add-info {
                padding-top: 20px;
                p {
                    border: inherit;
                    padding-bottom: 2px;
                    a {
                        margin-right: 15px;
                    }
                }
            }
            .partners {
                display: grid;
                grid-row-gap: 15px;
                a {
                    font-size: 14px;
                    color: #fff;
                    @extend .ttc;
                    transition: $trans;
                    &:hover {
                        color: $brand-primary;
                    }
                }
            }
            .news-info {
                display: grid;
                grid-row-gap: 15px;
                .news-detail {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr 3fr);
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

.copyright {
    background: #01050D;
    h4 {
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
        font-family: $text-font-family;
        span {
            color: $brand-primary;
        }
    }
}

/*===========================
footer  end
============================*/

/*06 club list start*/

.club-list-area {
    .club-authority {
        img {}
        h4 {
            font-size: 25px;
            color: #000;
            @extend .ttc;
            font-family: $head-font-family;
        }
        p {
            @extend .ttc;
        }
        .authority-box {
            p {
                @extend .ttc;
                font-size: 14px;
                strong {
                    color: #000;
                }
            }
        }
    }
    .club-history {
        .history-img {
            img {}
            h3 {
                font-size: 25px;
                color: #000;
            }
        }
    }
    .team-box {
        .nav-tabs {
            border: inherit;
            background: #f3f3f3;
            display: inline-flex;
            .nav-item {
                color: #000;
                font-size: 18px;
                @extend .ttc;
                padding: 18px 40px;
                border: inherit;
                border-radius: inherit;
                margin: 0;
                &.active,
                &:hover {
                    background: $brand-primary;
                    color: #fff;
                }
            }
        }
        .tab-content {
            .team-mem {
                h5 {
                    font-size: 20px;
                    color: #000;
                    @extend .ttc;
                }
                p {
                    @extend .ttc;
                }
            }
        }
    }
}

/*07 club list end*/

/*08 laliga start*/

.laliga-box {
    h4 {
        font-size: 25px;
        background: $brand-primary;
        padding: 15px 0;
        @extend .ttu;
        font-family: $head-font-family;
    }
    .fixture-box {
        padding: 20px 0;
        .club-fixture {
            display: grid;
            grid-template-columns: repeat(1, 3fr 2fr 3fr);
            grid-column-gap: 40px;
            padding: 20px 0;
            transition: $trans;
            &.active,
            &:hover {
                background: #f3f3f3;
            }
            .club-img {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 10px 20px;
                span {
                    color: #000;
                    @extend .ttc;
                    margin: 0 20px;
                    @extend .bold;
                    font-size: 25px;
                    font-family: $head-font-family;
                }
            }
            div:nth-child(3) {
                display: flex;
                justify-content: flex-end;
            }
            .club-schedule {
                font-size: 22px;
                color: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                @extend .ttu;
                p {
                    margin: 0;
                }
            }
        }
    }
}

/*07 laliga end*/

/*08 result start*/

.result-box {
    .fixture-box {
        .club-schedule {
            h5 {
                font-size: 40px;
            }
        }
    }
}

/*08 result end*/

/*sports start*/

.news-area {
    .sports-news {
        .sports-img {
            position: relative;
            &:before {
                position: absolute;
                content: "";
                background: rgba(118, 193, 0, 0.6);
                width: 25%;
                height: 55%;
                bottom: 0;
                right: 0;
                z-index: 9;
                border-radius: 50%;
                transform: scale(0) translate3d(191%, 196%, 0);
                transition: all 1s cubic-bezier(0.4, 0, 1, 1) 0s;
            }
            &:hover {
                &:before {
                    transform: scale(1) translate3d(-398%, -171%, 0);
                    opacity: 1;
                }
            }
        }
        .sports-title {
            h3 {
                font-size: 25px;
                color: #000;
                font-weight: 500;
            }
            p {
                color: #000;
                font-size: 14px;
                font-weight: 500;
                margin-top: 10px;
                span {
                    color: $brand-primary;
                    @extend .ttc;
                }
            }
        }
        .news-btn {
            display: block;
            a {
                padding: 10px 15px;
                color: #fff;
                background: $brand-primary;
                @extend .ttc;
                &:hover {
                    background: #DDD;
                    color: $brand-primary;
                }
            }
        }
        .highlights-bg {
            height: 400px;
            .video-play-btn {
                position: absolute;
                border-radius: 50%;
                padding: inherit;
                border: inherit;
                font-size: 70px;
                transform: inherit;
                i {
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
        .sports-arrow {
            display: flex;
            justify-content: space-between;
            a {
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                padding: 12px 25px;
                background: $brand-primary;
                @extend .ttc;
            }
        }
    }
    .news-box {
        .news-search {
            position: relative;
            input {
                outline: inherit;
                border: 2px solid $alter-text-color;
                height: 50px;
                width: 100%;
                padding: 8px 0 8px 50px;
                &::placeholder {
                    color: $alter-text-color;
                    @extend .ttc;
                }
            }
            a {
                position: absolute;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: 100%;
                i {
                    color: $brand-primary;
                    font-size: 20px;
                }
            }
        }
    }
    .recent-news {
        .blog-title {
            h3 {
                font-size: 20px;
                color: #000;
                @extend .ttu;
                font-weight: 500;
            }
        }
        .comment-box {
            display: grid;
            grid-template-columns: repeat(1,
            70px 3fr);
            grid-column-gap: 21px;
            img {
                width: 75px;
                height: 75px;
                transition: $trans;
                border: 2px solid transparent;
            }
            .user-cmnt {
                a {
                    font-size: 13px;
                    color: #000;
                    font-weight: 700;
                    line-height: 1.4em;
                    transition: $trans;
                    display: inline-block;
                }
                p {
                    font-size: 12px;
                    line-height: 16px;
                    margin-top: 5px;
                    margin-bottom: 0;
                }
            }
            &:hover {
                .user-cmnt {
                    a {
                        color: $brand-primary;
                    }
                }
                img {
                    border: 2px solid $brand-primary;
                }
            }
        }
    }
    .twit-post {
        .twit-box {
            grid-template-columns: repeat(1, 1fr 5fr);
            i {
                color: $brand-primary;
                font-size: 28px;
            }
            .twitted {
                a {
                    color: $brand-primary;
                }
                p {
                    font-size: 14px;
                    &.sml {
                        font-size: 10px;
                        color: $brand-primary;
                    }
                }
            }
        }
    }
    .link-box {
        a {
            background: #f6f6f6;
            color: #444;
            padding: 12px 20px;
            font-weight: 500;
            i {
                background: #000;
                color: #fff;
            }
            &:hover {
                background: $brand-primary;
                color: $white;
                i {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }
}

/*sports-slider start*/

.sports-slider {
    &.owl-carousel {
        .owl-nav {
            button {
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 16px;
                padding: 14px 45px !important;
                background: $brand-primary;
                @extend .ttc;
                &.owl-next {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}

/*sports-slider end*/

/*08 sports end*/

/*09 point table start*/

.point-table {
    color: #fff;
    .table {
        &.table-bordered {
            font-family: $head-font-family;
            thead {
                background: $brand-primary;
                line-height: 2;
                font-size: 18px;
                th {
                    text-align: center;
                }
                tr {
                    td,
                    th {
                        color: #fff;
                        border: inherit;
                    }
                }
            }
            tbody {
                tr {
                    border-top: 1px solid #bababa;
                    border-bottom: 1px solid #bababa;
                    &:nth-child(even) {
                        background: #f1f1f1;
                    }
                }
                th {
                    text-align: center;
                    line-height: 85px;
                    font-size: 20px;
                }
                td {
                    text-align: center;
                    line-height: 80px;
                    font-size: 20px;
                    &.team {
                        text-align: left;
                    }
                    .team-box {
                        span {
                            color: #000;
                            font-size: 25px;
                            font-family: $head-font-family;
                            @extend .ttc;
                            @extend .bold;
                            margin-left: 20px;
                        }
                    }
                }
            }
            tr {
                th {
                    color: #000;
                }
            }
        }
        color: #000;
    }
}

.table-bordered {
    td,
    th {
        border: inherit;
        @extend .ttc;
    }
}

/*09 point table end*/
