/*02	Navbar Styles*/

.header {
    position: relative;
}

.nav-menu {
    background: $header-bg;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    &.fixed-top {
        animation-duration: 0.8s;
        animation-name: fadeInDown;
        animation-timing-function: ease-in-out;
        background: $header-bg !important;
        left: 0;
        position: fixed !important;
        right: 0 !important;
        top: 0 !important;
        width: 100%;
        z-index: 99;
    }
    &.full-black {
        background: #000;
        position: relative;
    }
    .navbar-brand {
        line-height: 2.5;
    }
    .navbar {
        padding: 0;
        .navbar-brand {
            padding: 0;
        }
        .navbar-nav {
            .nav-item {
                position: relative;
                .nav-link {
                    line-height: 80px;
                    padding: 0 14px;
                    letter-spacing: 1px;
                    font-size: 15px;
                    @extend .ttu;
                    color: $white;
                    transition: $trans;
                    &:before {
                        position: absolute;
                        content: "";
                        background: $brand-primary;
                        width: 23px;
                        height: 2px;
                        top: 34%;
                        left: 38%;
                        transform: translateY(-15px);
                        transition: all 0.5s ease 0s;
                        opacity: 0;
                    }
                    &:hover {
                        color: $navbar-hover-color;
                    }
                }
                &:hover,
                &.active {
                    .nav-link {
                        color: $brand-primary;
                        &:before {
                            transform: translateY(-10px);
                            opacity: 1;
                        }
                    }
                }
            }
            .dropdown-menu {
                border-radius: inherit;
                background: $dropdown-bg;
                a {
                    @extend .ttu;
                    color: $white;
                    padding: 4px 20px;
                    font-size: 14px;
                    &:hover {
                        color: $dropdown-hover-color;
                        background: transparent;
                    }
                }
            }
        }
    }
    .icon-menu {
        ul {
            li {
                display: inline-block;
                margin: 0 5px;
                line-height: 80px;
                a {
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/*2.4 header-area start*/

.header-match-area {
    border-bottom: 1px solid #cdcdcd;
    &.yelow {
        background: #e9c804;
    }
    .social-icon {
        display: flex;
        a {
            padding: 10px 15px;
            i {
                font-size: 14px;
                color: #000;
                transition: $trans;
            }
            &:hover {
                i {
                    color: $brand-primary;
                }
            }
        }
    }
    .live-up {
        p {
            color: #000;
            font-size: 14px;
            padding: 8px 0;
            margin: 0;
            span {
                color: #fff;
                @extend .ttu;
            }
        }
    }
    .football-match {
        display: flex;
        justify-content: flex-end;
        a {
            padding: 10px 5px;
            color: #000;
            margin-left: 18px;
            font-weight: bold;
            transition: $trans;
            &.active,
            &:hover {
                background: $brand-primary;
                color: #fff;
            }
        }
    }
}

/*header middle area start*/

.header-middle-area {
    .logo {
        line-height: 9;
    }
    .bnr-img {
        padding: 20px 0;
    }
}

/*header middle area end*/

.header-bottom-area {
    &.nav-menu {
        top: inherit;
        left: inherit;
        position: inherit;
    }
}

/*2.4 header-area end*/

/*icon-menu*/

.search-popup {
    position: fixed;
    left: 0px;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    &.popup-visible {
        top: 0;
        visibility: visible;
        opacity: 1;
    }
    .close-search {
        position: absolute;
        right: 25px;
        top: 25px;
        font-size: 25px;
        color: #ffffff;
        padding: 10px;
        background: $brand-primary;
        cursor: pointer;
        z-index: 5;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        &:hover {
            opacity: 0.70;
        }
    }
    .search-form {
        position: relative;
        padding: 0px 15px 50px;
        padding-top: 200px;
        max-width: 700px;
        margin: 0 auto;
        fieldset {
            position: relative;
            border-radius: 12px;
            input[type="search"],
            input.form-control {
                position: relative;
                height: 70px;
                padding: 20px 220px 20px 30px;
                background: #ffffff;
                line-height: 30px;
                font-size: 24px;
                color: #233145 !important;
            }
            input[type="submit"] {
                position: absolute;
                display: block;
                right: 0px;
                top: 0px;
                text-align: center;
                width: 220px;
                padding: 20px 10px 20px 10px;
                color: #ffffff;
                cursor: pointer;
                background: $brand-primary;
                line-height: 30px;
                height: 70px;
                -webkit-transition: all 0.4s ease 0s;
                transition: all 0.4s ease 0s;
                font-size: 20px;
                text-transform: uppercase;
                border-radius: 0px 7px 7px 0px;
                border: none;
                &:hover {
                    background: $brand-primary;
                    color: #ffffff;
                }
            }
        }
    }
}

/*icon-menu*/

/*02	Navbar Styles*/
